body {
    background-color: grey;
    font-family: "Open Sans", sans-serif;
}

h1 {
    text-align:center;
    font-size: 50px;
}

#wrapper {
    width:70%;
    height:1000px;
    padding:10px;
    border-radius: 20px;
    background-color: white;
    margin: 0 auto;
}

#quote {
    text-align:center;
    color:black;
    width: 50%;
    padding 10px;
    margin: 0 auto;
    font-family: 'Chela One', cursive;
    font-size: 20px;
}

#author {
    text-align:center;
    color:black;
    font-weight:bold;
    width: 100%;
    margin: 0 auto;
    padding:10px;
    font-family: 'Chela One', cursive;
    font-size: 25px;
}

button#button.btn.btn-success.my-3 {
    background-color: rgba(146, 37, 232, 0.45);
    border: 2px solid rgba(232, 36, 184, 0.45);
    font-family: 'Chela One', cursive;
    font-size: 20px;
}

div.container.d-flex.justify-content-center.citation {
    width: 600px;
    height: 600px;
}

div.card.text-white.bg-dark.mb-3.carte {
    background: linear-gradient(rgba(0, 3, 23, 0.45), rgba(74, 59, 61, 0.45), rgba(51, 163, 23, 0.45));
}

div.card-header.text-center.col-sm-12.titre {
    font-family: 'Chela One', cursive;
    font-size: 25px;
}