/* ----- Main CSS ----- */

html, body {
    max-width: 100vw;
    margin: 0;
    overflow-x:hidden;
}

section.banner {
    max-width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
 }

img.card-img-top.image {
    min-width: 100%;
    height: 467px;
}

h2.text-center {
    position: absolute;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
    color: #000;
}

h3.text-center.services {
    position: absolute;
    margin-top: 490px;
    font-family: 'Lobster', cursive;
    color: #fb6a4c;
}

.logo {
    color: #66697e;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 5px;
}

a.deconnect {
    color: #e84545;
}

a.espace {
    color: #4f7c70;
}

a.admin {
    color: #fb6a4c;
}

/* ----- Top menu CSS ----- */

div.container.d-flex.justify-content-center.title {
    margin-top: 200px;
    width: 100%;
}

img.bureau {
    border: 2px solid rgba(0, 0, 0, 0.45);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

div.card.activite.my-3.gauche {
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 20px;
}

div.card.activite.my-3.droite {
    border: 2px solid rgb(0, 0, 0);
    border-bottom-right-radius: 20px;
}

h4.card-title.titre {
    font-family: 'Lobster', cursive;
    height: 50px;
}

p.card-text.description {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    height: 135px;
}

h2.text-white.text-center.container.my-5 {
    margin-top: 30px;
    font-family: 'Lobster', cursive;
}

/* ----- Member CSS ----- */

div.form-group.d-flex.justify-content-center {
    flex-direction: column;
}

h3.text-center.font-weight-bold, label.control-label.required {
    font-family: 'Lobster', cursive;
    color: #e84545;
}

span.container.d-flex.justify-content-center.my-3 {
    width: 646px;
}

ul.container.my-3 {
    list-style-type: none;
    width: 600px;
}

li.my-2.font-weight-bold.text-center {
    background-color: #49423c;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lobster', cursive;
    color: #000;
    max-width: 100vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 5px solid #49423c;
}

a.text-center.titre {
    display: flex;
    justify-content: center;
    color: #fb6a4c;
    font-size: 25px;
}

h4.text-center.titre {
    display: flex;
    justify-content: center;
    color: #fb6a4c;
}

div.lien {
    display: flex;
    justify-content: center
}

a.btn.d-flex.justify-content-center.my-2.text-center.modify_profile {
    background-color: #4f7c70;
    color: #e8d2b2;
    font-family: 'Noto Serif', serif;
}

a.btn.d-flex.justify-content-center.text-center {
    background-color: #e84545;
    color: #e8d2b2;
    font-family: 'Noto Serif', serif;
    margin-left: 20px;
}

a.btn.d-flex.justify-content-center.text-center.my-2.delete.suppress {
    background-color: #e8d2b2;
    color: #e84545;
    font-family: 'Noto Serif', serif;
    margin-left: 20px;
}

div.checkbox {
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    color: #fb6a4c;
    font-size: 25px;
    font-weight: bold;
}

input#form_checked {
    margin-top: 15px;
    margin-right: 30px;
}

p.profil {
    font-family: 'Lobster', cursive;
    color: #fb6a4c;
    font-size: 20px;
    font-weight: bold;
}

p.profil.font-italic {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
}

div.row.d-flex.justify-content-center.one {
    margin-top: 200px;
    height: 200px;
}

img.card-img-top.checklist {
    width: 100%;
}

ul.container.my-3.liste {
    max-width: 90vw;
}

div.form-group {
    display: flex;
    justify-content: center;
}

div.my-3.container.d-flex.justify-content-center.retour {
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: #000;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 10px;
}

a.container-fluid.text-center.titre {
    height: auto;
    display: inline-block;
}

a.btn.btn-primary.m_bouton, button.add_todo, button.add_todo:hover, button#project_submit, button#project_submit:hover  {
    background-color: #49423c;
    border: 2px solid #49423c;
    font-family: 'Noto Serif', serif;
    color: #e8d2b2;
    font-weight: bold;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

a.btn.btn-danger.d-flex.justify-content-center.text-center.bn_membre {
    border: 2px solid rgba(0,0,0,0.7);
    font-family: 'Merienda', cursive;
}

p.text-center.profil.username.my-3 {
    font-family: 'Lobster', cursive;
    color: #4844FF;
    font-size: 25px;
    font-weight: bold;
}

i.far.fa-arrow-alt-circle-left.mr-2.mt-3 {
    color: #e84545;
}

div.alert.alert-danger {
    margin: auto;
}

span.badge.badge-pill.badge-danger {
    background-color: red;
}

div.container-fluid.d-flex.justify-content-center.liste {
    position: absolute;
    margin-top: 250px;
}

div.col-sm-6.my-3.projet {
    min-width: 300px;
}

p.card-text.text-center.font-weight-bold.para {
    height: 60px;
    color: #fb6a4c;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

div.card.text-white.bg-dark.mb-3.carte {
    width: 100%;
}

div.container-fluid.conteneur {
    height: auto;
}

div.row.content {
    height: auto;
    display: flex;
}

div.sm-col-6.contenu {
    height: auto;
    width: 50%;
}

div.card-body.carte {
    height: 300px;
}



input#user_email.my-2.form-control, input#user_username.my-2.form-control,
input#user_password.my-2.form-control, input#user_conform_password.my-2.form-control, input.form-control.login_user, input.form-control.login_pass,
input#todo_list.form-control {
    width: 70% ;
}

input#bookmarks_url.form-control {
    width: 70%;
}

input#form_list.form-control, input#form_url.form-control, input#form_title.form-control, textarea#form_content.form-control {
    max-width: 100vw;
}

div.alert.alert-success.modify_todo {
    background-color: #e8d2b2;
    border: 2px solid #e8d2b2;
}

.modify_title {
    color: #fb6a4c;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

button.btn.btn-success.mt-2.mod_button {
    background-color: #4f7c70;
    border: 2px solid #4f7c70;
    font-family: 'Noto Serif', serif;
    color: #e8d2b2;
    font-weight: bold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

button#todo_submit.add_todo.btn {
    margin: 30px auto 5px auto;
}

div.container.images {
    margin-top: 350px;
    width: 100%;
}

img.img-thumbnail {
    max-height: 500px;
    min-width: 100%;
}

h3.favorite {
    font-family: 'Lobster', cursive;
    color: #e84545;
}

div.alert.alert-success.modify_todo {
    height: auto;
}

a.btn.d-flex.justify-content-center.my-2.modify_profile {
    background-color: #4f7c70;
    color: #e8d2b2;
    font-family: 'Noto Serif', serif;
}

p.text-center.text-white.font-weight-bold.my-3 {
    font-size: 20px;
}

h3.text-center.my-2.description {
    font-family: 'Lobster', cursive; color: #e84545;
}

p.text-center.titre.mt-1.text-white.content {
    font-size: 18px;
    font-family: 'Noto Serif', serif;
}

div.alert.alert-success.modify_todo.modify_account {
    background-color: #49423c;
    border: 2px solid #49423c;
    width: 70vw;
}